body {
    text-align: center;
    font-family: "Nunito", sans-serif;
  }
  
  h3 {
    font-weight: 300;
  }
  
  .button {
    padding: 1rem;
    color: white;
    background: black;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 0 2rem;
  }
  
  .hide {
    display: none;
  }
  
  .emoji-choices {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  @media (min-width: 900px) {
    .emoji-choices {
      display: -webkit-box;
      display: flex;
      max-width: 1000px;
      margin: auto;
    }
  }
  @media (min-width: 900px) {
    .choice {
      width: 20vw;
      margin-top: 3rem;
    }
  }
  .emoji {
    font-size: 1.5rem;
    -webkit-transition: font-size 300ms ease;
    transition: font-size 300ms ease;
    cursor: pointer;
    margin: 0;
  }
  
  .emoji-selected {
    font-size: 2rem;
  }
  
  .reaction {
    font-size: 1rem;
    opacity: 0;
  }
  
  .reaction-fade-in {
    -webkit-animation: fadeIn 300ms ease;
            animation: fadeIn 300ms ease;
    opacity: 1;
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .question {
    margin-top: 1rem;
  }
  
  .summary {
    text-align: center;
    margin: auto;
    max-width: 800px;
  }
  
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }